@use "../abstracts" as *;
.header {
  padding: 0.7em 1em;
  position: relative;
  @include flex(space-between, center, 0);
  &__left {
    @include flex(unset, center, 20px);
    width: 230px;
    @include breakpointMax(break-1) {
      width: 150px;
    }
    flex-shrink: 0;
  }
  .home-logo-link {
    @include flex(unset, unset, 4px);
  }

  &-search-main {
    width: 45%;
    @include breakpointMax(break-1) {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #fff;
      padding: 0.7em;
    }
  }
  &__center {
    @include flex(unset, center, 10px);
    width: 100%;
    flex-shrink: 20;
    margin-right: 20px;
    & .search-section {
      @include flex(unset, unset);
      width: inherit;
      position: relative;
    }
    & .search-box {
      @include flex(unset, center);
      width: inherit;
      position: relative;

      &__icon {
        &--s,
        &--close {
          position: absolute;
        }

        &--s {
          left: 5px;
        }
        &--close {
          right: 5px;
        }
      }
    }

    .search-suggestion {
      display: none;
      position: absolute;
      left: 0;
      top: 41px;
      z-index: 1000;
      width: inherit;
      min-width: 300px;
      flex-shrink: inherit;
      margin-left: -0.5px;
      // background-color: aqua;
      &__link {
        @include flex(space-between, center);
        &-left {
          @include flex(unset, center, 10px);
        }
      }
    }
  }

  &__right {
    @include flex(unset, center);
    gap: max(0.5em, 1.5vw);
    margin-left: 15px;
    flex-shrink: 0;
    @include breakpointMax(break-1) {
      flex-shrink: 1;
      margin-left: 0;
    }
    &-profile-btn {
      flex-shrink: 0;
    }

    .apps-btn,
    .bell-btn {
      @include breakpointMax(mobile) {
        display: none;
      }
    }
  }
  .location {
    position: relative;
    top: -13px;
  }
}

