@use "../abstracts" as *;
.contents {
  overflow-x: hidden;
  height: 100%;
}
.tags {
  height: 9%;
  @include flex(unset, center);
  position: relative;
  scrollbar-width: none;

  &-btns {
    position: absolute;
    z-index: 10;
    width: 100%;
    @include flex(unset, center);
    // padding-right: 0.8em;
    // border: solid;
  }

  &-btn {
    
    display: block;
    width: 80px;
    height:50px ;
    
    & span{
     display: block;
     position: relative;
  
    }
  }
  &-list {
    @include flex(unset center, 10px);
    --slider-index: 0;
    --slider-width:100%
    margin-left: 1em;
    width: 100%;
    z-index: 4;
    scrollbar-width: none;

    transform: translateX(calc(var(--slider-index) * -22vmax));
    transition: 250ms ease;
  }
  #arrow-left {
    margin-right: auto;
    background-image:linear-gradient(to left,rgba(255,255,255,0.5),#fff);
  }
  #arrow-left span{
    right: 15px;
  }
  #arrow-right span {
    left: 15px;
  }
  #arrow-right {
    margin-left: auto;
    background-image:linear-gradient(to right,rgba(255,255,255,0.5),#fff);
  }
  .arrow-hide {
    display: none;
  }
}
